*
{
padding:0px;
margin:0px;
}
#up{
height:100px;
width:100%;
background-color:#3b5998;
vertical-align:top;
padding:0px;
margin:0px;
}
#fblogo
{
color:white;
padding-top:40px;
padding-left:150px;
font-size:40px;
}
#upleft
{

width:60%;
height:86px;
float:left;
}
#upright
{

width:40%;
height:86px;
float:right;

}
#upright2
{

width:50%;
height:86px;
float:right;
}
#upright1
{

width:50%;
height:86px;
float:left;

}
body
{
font-size: 13px;
font-family: 'lucida grande';
}
#bdy{

background-color:#ffffff;
width:100%;
height:616px;

}
#bdy1
{
margin-bottom: 0;
-webkit-border-radius: 4px;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
border: 1px solid #ccc;
float:center;
width:570px;
padding-left:15px;
padding-right:30px;
height:200px;
}
#bdy2
{
width:55%;
height:50px;
padding-left:270px;
margin-top:10px;
font-size:13px;
}
#head
{
width:100%;
float:top;
background:#ffffff;
padding-left:15px;
padding-top:10px;
border-bottom: 1px solid #aaa;
}
#text
{
font-size: 12px;
padding-top:15px;
padding-left:120px;
}
#mail
{
width:10%;
height:30px;
float:left;
}
#mailandtextbox
{
padding-top:0px;
padding-left:80px;
margin-top:0px;
margin-right:11px;
}
#identify_email
{
margin-top:5px;
width: 255px;
}
.box
{
float:left;
margin-left:0px;
margin-top:4px;
margin-bottom: 3px;
width:300px;
padding-bottom: 4px;
border: 1px solid #bdc7d8;
}
#ftrOfBdy1
{
margin-top:90px;
width:105%;
height:36px;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
line-height: 16px;
padding-top:10px;
background-color: #f2f2f2;
border: 1px solid #ccc;
}
#bordr
{
margin-top:20px;
border-bottom: 1px solid #ccc;
font-size: 1px;
height: 8px;
margin-left:160px;
margin-bottom: 8px;
width:70%;

}
.mousehover
{
cursor:pointer;
}
 .foot
 {
 
 width:80%;
 padding-bottom:10px;
 padding-left:160px;
 font-size:12px;
 color:#3b78b4;
 }
 a
 {
 
text-decoration:none !important;
color:#3b5998;
 
 }
 <!-- Styles -->
#contact label
{
}

#contact_submit{
padding-left: 100px;
}

#contact div
{
}
textarea
{ 
}
            
.error
{
display: none;
color: red;
}       
        
.error_show
{
color: red;
margin-left: 10px;
}
        
input.invalid, textarea.invalid
{
border: 1px solid red;
}
        
input.valid, textarea.valid
{
border: 1px solid green;
}